{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        
            
                        <h1 class="font-bold text-2xl uppercase my-8 pt-8">

                    Ultime notizie
            </h1>
        

        {{#get "posts" include="authors" limit="all"}}
            <div class="gh-topic gh-topic-grid">
                <div class="gh-topic-content">
                    {{#foreach posts}}
                        {{> "loop-grid"}}
                    {{/foreach}}
                </div>
            </div>
        {{/get}}
    </div>
</main>